<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Event|Excel 2017</title>
    <!-- Include external CSS. -->
    <link rel="stylesheet" type="text/css" href="css/newEvent.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
 
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_style.min.css" rel="stylesheet" type="text/css" />
  </head>
 
  <body>

    <h3>Name of the Event</h3>
    <input type="text" name="name">
    <h3>Description</h3>
    <textarea></textarea>
    <h3>Event Format</h3>
    <textarea1></textarea1>
    <h3>Prize Pool</h3>
    <input type="text" name="Prize_money1" placeholder="Enter 1st prize amount">
    <input type="text" name="Prize_money2" placeholder="Enter 2nd Prize amount">
    <input type="text" name="Prize_money3" placeholder="Enter 3rd Prize amount"><br>
    <h3>Rules</h3>
    <div class="rules">
        <input type="text" name="Rules">
        <button class="new_rule">Add another rule</button><br>
    </div>
    <h3>Contact Details</h3>
        <input type="text" name="Contact_Name1" placeholder="Enter Name">
        <input type="text" name="Contact_Phone_number1" placeholder="Enter Phone Number"><br>
        <input type="text" name="Contact_Name2" placeholder="Enter Name">
        <input type="text" name="Contact_Phone_number2" placeholder="Enter Phone Number"><br>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>
 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/js/froala_editor.pkgd.min.js"></script>
    <button class="Submit">Submit</button>
    <!-- Initialize the editor. -->
    <script> $(function() { $('textarea').froalaEditor() 
        $('textarea1').froalaEditor()
    });
    $('.new_rule').click(function(){
        console.log("hrll")
        $('.rules').append("<input type=text name=Rules style=margin-top:20px;><br>")

    })
    </script>
    <script src = "js/newEvent.js"></script>
  </body>
</html>