<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Event|Excel 2017</title>
    <!-- Include external CSS. -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
      <!-- Include Editor style. -->
      <link href="https://cdn.quilljs.com/1.3.1/quill.snow.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="css/newEvent.css">

  </head>
 
  <body>
    <div class="container">
        <h3>Name of the Event</h3>
        <input type="text" name="name" class="form-control">
        <h3>Description</h3>
        <div id="editor_description">
        </div>
        <h3>Event Format</h3>
        <div id="editor_eventformat">
        </div>
        <!--<h3>Schedule</h3>-->
        <!--<div class="row">-->
            <!--<div class="col-sm-6">-->
                <!--<div class="form-group">-->
                    <!--<div class="input-group date" id="datetimepickerfrom">-->
                        <!--<input type="text" placeholder="enter from date and time" class="form-control d1">-->
                        <!--<span class="input-group-addon">-->
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6-6">-->
                <!--<div class="form-group">-->
                    <!--<div class="input-group date" id="datetimepickerto">-->
                        <!--<input type="text" placeholder="Enter to date and time" class="form-control d2">-->
                        <!--<span class="input-group-addon">-->
                            <!--<span class=" glyphicon glyphicon-calendar"></span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <h3>Prize Pool</h3>
        <input type="text" class="form-control" name="Prize_money" placeholder="Total Prize Pool">
        <h3>Rules</h3>
        <div id="editor_rules">
        </div>
        <h3>Contact Details</h3>
        <div id="editor_contact">
        </div>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://cdn.quilljs.com/1.3.1/quill.js"></script>
        <button class=" btn btn-primary Submit">Submit</button>
        <!-- Initialize the editor. -->
        <script>
        $('#datetimepickerfrom').datetimepicker();
        $('#datetimepickerto').datetimepicker();
        var editor_description =  new Quill('#editor_description',{
        	theme:'snow',
            clipboard:true
        });
        var editor_rules = new Quill('#editor_rules',{
        	theme:'snow'
        });
        var editor_contact = new Quill('#editor_contact',{
        	theme:'snow'
        });
        var editor_eventformat = new Quill('#editor_eventformat',{
        	theme:'snow'
        });

        </script>
        <script src = "js/newEvent.js"></script>
    </div>
  </body>
</html>