body{
	margin: 0;
	text-align: center;
}
.navbar{
	height: 70px;
	background-color: beige;
}
.navbar h1{
	margin: 0;
}
li{
	list-style-type: none;
}
ul{
    padding: 0;
}
@media(max-width: 600px) {


}