body{
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
.new_rule{
	margin-bottom: 10px;
    margin-top: 10px;
}
.fr-counter {
    right: 0
}
.fr-box.fr-basic .fr-element{
    height: 200px;
}